html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h2 {
  font-size: 2em;
}

#content {
  margin-top: 10px;
  padding: 2px;
  font-size: 1em;
  text-align: left;
  height: 75%;
}

#roomBox, #userBox {
    float: left;
    padding: 1% 2.5% 1% 2.5%;
    height: 98%;
    width: 20%;
}

#roomBox {
    background-color: rgb(244,244,244);
}

#userBox, #messageBox {
    background-color: rgb(200,200,200);
}

#messageBox {
    float: left;
    padding: 1% 2.5% 1% 2.5%;
    height: 98%;
    width: 45%;
}

#messages, #userList, #roomList{
    height: 75%;
    overflow: scroll;
    background-color: rgb(255,255,255);
}